/*HEADER*/

.main-header {
  display: flex;
  flex-direction: column-reverse;
  background: map-get($map: $colores, $key: "header" );

  @media (min-width: 576px) {
    & {
      flex-direction: column;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

}

/*NAVBAR*/

.nav-bar {
  
  &__nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    
    @media (max-width: 576px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    text-align: center;
    border-top: 1px solid black;
  }

  &__nav-link {
    display: block;
    padding: 2rem 2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: map-get($map: $colores, $key: "primary-color");

    &:hover,
    &:focus {
      transform: scale(1.2) skew(0);
      color: map-get($map: $colores, $key: "secondary-color");
    }
  }

  @media (max-width: 576px) {
    & {
      display: none;
    }
  }
}

/*SEARCH BAR*/

.search-bar {
  display: flex;
  flex-wrap: wrap;//prueba
  justify-content: space-around;
  padding-bottom: 10px;
  
  &__logo-container {
    display: flex;
    align-items: center;
    
  }

  &__logo-container h1 {
    font-size: 3rem;
    text-align: center;
    padding: 20px;
  }

  &__form-conteiner {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-basis: auto;
    justify-content: center;
    width: 40rem;
  }

  &__form-search {
    width: 70%; //100
    border: 1px solid #A4A2A4;
    border-radius: 5px;
  }

  &__form-submit {
    border-radius: 5px;
    margin-left: .5rem;
    padding: .5rem;
  }

  &__carrito-container {
    display: flex;
    align-items: center;
  }

  & a {
    text-decoration: none;
    color: map-get($map: $colores, $key: "primary-color");
  }

  @media (min-width: 576px) {
    &__form-search {
      width: 100%;
    }

    &__form-conteiner {
      padding: 2.5rem 0 2.5rem 0;
    }
  }

  &__carrito-container i {
   font-size: 3vw;
   padding: 1rem;
   color: #A4A2A4;

   @media (max-width: 576px) {
      & {
        padding: 1rem;
        font-size: 2rem;
      }
    }
  }
}

/*MENU TOOGLE*/

.menu-toogle {
  display: none;
  flex: 0 0 3rem;
  position: relative;
  cursor: pointer;
  margin: 1.2rem;

  &__label{
    display: block;
    height: 100%;
  }

  &__top-bread,
  &__meat,
  &__bottom-bread{
    display: block;
    background-color: #333;
    height: 0.2rem;
    position: absolute;
    left: .5rem;
    right: .5rem;
  }

  &__top-bread {
    top: 1.8rem
  }

  &__meat {
    top: 50%;
    margin-top: -.1rem;
  }

  &__bottom-bread {
    bottom: 1.8rem;
  }

  @media (max-width: 576px) {
    & {
      display: block;
    }
  }
}

