/*HEADER*/

.main-header {
  display: flex;
  flex-direction: column-reverse;
  background: map-get($map: $colores, $key: "header" );

  
  @media (min-width: 576px) {
    & {
      flex-direction: column;
    }
  }
}

#menu {
  display: none;

  &:checked + .nav-bar {
    display: block;
  }

  &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
    //background-color: yellow;
  }

}

/*NAVBAR*/

.nav-bar {
  
  &__nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    
    @media (max-width: 576px) {
      & {
        flex-direction: column;
      }
    }
  }

  &__nav-item {
    text-align: center;
    border-top: 1px solid black;
  }

  &__nav-link {
    display: block;
    //background-color: purple;
    padding: 2rem 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  @media (max-width: 576px) {
    & {
      display: none;
    }
  }

}

/*SEARCH BAR*/

.search-bar {
  display: flex;
  justify-content: space-around;
  
  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo-container h1 {
    font-size: 3vw;
    text-align: center;
    padding: 20px;
  }

  &__form-conteiner {
    padding: 2rem 0 2rem 0;
    //background-color: gold;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }

  &__form-label {
    //background-color: greenyellow;
  }

  &__form-search {
    //background-color: deeppink;
    width: 70%;
    border: 1px solid #A4A2A4;
    border-radius: 5px;
  }

  &__form-submit {
    border-radius: 5px;
    margin-left: .5rem;
    padding: .5rem;
    //font-size: larger;

  }

  &__carrito-container {
    display: flex;
    //flex: 0 0 5rem;
    align-items: center;
  }

  &__carrito-container i {
   font-size: 3vw;
   //padding: 2rem 0 2rem 0;
   padding-right: 2rem;
   color: #A4A2A4;

   @media (max-width: 576px) {
      & {
        padding: 1rem;
      }
    }
  }
}

/*MENU TOOGLE*/

.menu-toogle {
  display: none;
  flex: 0 0 3rem;
  position: relative;
  cursor: pointer;
  margin: 1.2rem;

  &__label{
    display: block;
    //background-color: black;
    height: 100%;
    
  }

  &__top-bread,
  &__meat,
  &__bottom-bread{
    display: block;
    background-color: #333;
    height: 0.2rem;
    position: absolute;
    left: .5rem;
    right: .5rem;
  }

  &__top-bread {
    top: .8rem
  }

  &__meat {
    top: 50%;
    margin-top: -.1rem;
  }

  &__bottom-bread {
    bottom: .8rem;
  }

  @media (max-width: 576px) {
    & {
      display: block;
    }
  }
  
}

