<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Proyecto Integrador - Nosotros</title>
</head>
<body>
  <header class="main-header">
    <input type="checkbox" id="menu">
    <nav class="nav-bar">
      <ul class="nav-bar__nav-list">
        <li class="nav-bar__nav-item">
          <a href="/index.html" class="nav-bar__nav-link">Inicio</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="#" class="nav-bar__nav-link">Alta</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/nosotros.html" class="nav-bar__nav-link">Nosotros</a>
        </li>
        <li class="nav-bar__nav-item">
          <a href="/views/contacto.html" class="nav-bar__nav-link">Contacto</a>
        </li>
      </ul>  
    </nav> <!-- .nav-bar -->

    <div class="search-bar">
      <div class="search-bar__logo-container">
        <h1><a href="/index.html">ScrollTech</a></h1>
      </div>
      <form action="#" class="search-bar__form-conteiner">
        <label for="busqueda" class="search-bar__form-label"></label>
        <input type="search" class="search-bar__form-search" id="busqueda">
        <input type="submit" class="search-bar__form-submit" value="Buscar">
      </form>
      <div class="search-bar__carrito-container">
        <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>
      </div>
      <div class="menu-toogle">
        <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
        </label>
      </div>
    </div> <!-- .search-bar -->
  </header> <!-- main-header -->

  <main>
    <section class="main-section">
      <div class="main-section__image">
        <img src="/img/img_nosotros.webp" alt="imagen">
      </div>

      <div class="main-section__content">
        <h1>Nosotros</h1>
        <p><strong>Nuestra misión es proporcionarte soluciones versátiles y convenientes en un solo lugar.</strong> Valoramos la calidad, la diversidad y la satisfacción del cliente, seleccionando cuidadosamente cada artículo en nuestro catálogo. Ya sea que estés buscando productos de vanguardia, transformar tu entorno hogareño o cuidar de ti mismo, estamos aquí para brindarte opciones que se ajusten a tus necesidades y deseos.</p>
      </div>
    </section>

    <section class="main-section main--inverter">
      <div class="main-section__content">
        <p>Nos esforzamos por ofrecerte una <strong>experiencia de compra excepcional</strong>, respaldada por productos que han pasado rigurosos estándares de calidad y creemos en la conveniencia de encontrar todo lo que necesitas en un solo lugar. Estamos encantados de ser tu socio confiable en tu búsqueda de productos que enriquezcan y faciliten tu vida cotidiana.</p>
      </div>

      <div class="main-section__image">
        <img src="/img/img_nosotros-2.webp" alt="imagen">
      </div>
    </section>
  </main>

  <!-- footer -->
  
  <footer class="footer">
    <section class="footer__section">
      <div class="footer__logo">
        <h4><a href="/index.html">ScrollTech</a></h4>
      </div>
  
      <div class="footer-contacto">
        <h4><span>Contacto</span></h4>
        <p><span>Whatsapp</span></p>
        <p><span>+541156345654</span></p>
        <p><span>E-mail</span></p>
        <a href="#">info@scrolltech.com</a>
      </div>
  
      <div class="footer-categorias">
        <h4><span>Categorias</span></h4>
        <p>
          <a href="#">Celulares y Teléfonos</a>
          <a href="#">Computación</a>
          <a href="#">Consolas y Videojuegos</a>
          <a href="#">Electrodomésticos</a>
        </p>
      </div>
    </section>
  </footer>
  
  <script type="module" src="/main.js"></script>
</body>
</html>
