.main-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

h1 {
  text-align: center;
  color: map-get($map: $colores, $key: "primary-color");
}

.form-responsive {
  display: flex;
  flex-direction: column;
}

.fieldset-cambio {
  border: none;
  padding: 0;
}

.input-container {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    color: map-get($map: $colores, $key: "primary-color");
  }

  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: map-get($map: $fuentes, $key: "font-family");
    width: 100%;
    box-sizing: border-box;
  }

  textarea {
    resize: none;
    overflow: auto;
  }
}

.button-container {
  text-align: center;

  .button {
    background-color: map-get($map: $colores, $key: "primary-color");
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: map-get($map: $fuentes, $key: "font-family");

    &:hover {
      background-color: darken(map-get($map: $colores, $key: "primary-color"), 10%);
    }
  }
}