
.section-cards {
  background-color: #f1f2f3;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
