.main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  
  &__image {
    display: flex;
    justify-content: center;
    margin: 2rem;
  }

  & img {
    width: 100%;
    height: auto;
  }

  &__content  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & h1 {
    padding: 10px;
  }

  & p {
    width: 80%;
    text-align: center;
    margin-top: 15px;
  }

  @media (max-width: 576px) {
    flex-wrap: wrap;
  }
}

